---
import { translate, type Language } from '@/domain';

interface Props {
    href: string;
    lang: Language;
}

const { href, lang } = Astro.props;

import { InMemoryCommonLabelsRepository } from '@/data';
import { GetCommonLabelsUseCase } from '@/domain';

const commonLabels = await new GetCommonLabelsUseCase(new InMemoryCommonLabelsRepository()).execute();
---

<div class="text-center py-10">
    <a href={href} class="hover:bg-secondary-v
    font-bold bg-primary-v rounded-md text-white
    res-pbutton res-h4" >
        {translate(commonLabels.viewMore, lang)}<span class="ml-2 transition-transform">→</span>
    </a>
</div>