---
import type { Language, PersonalInfo } from '@/domain';
import { translate } from '@/domain';
import Section from '../common/Section.astro';

interface Props {
    lang: Language;
    personalInfo: PersonalInfo;
}

const { lang, personalInfo } = Astro.props;

import { InMemoryAboutLabelsRepository } from '@/data';
import { GetAboutLabelsUseCase } from '@/domain';

const aboutLabels = await new GetAboutLabelsUseCase(new InMemoryAboutLabelsRepository()).execute();
const paragraphs = translate(personalInfo.description, lang).split('\n\n');
---

<Section id="about" class="relative" background='pixel-rain' bottomFade topFade title={translate(aboutLabels.subtitle, lang)} subtitle={paragraphs[0]}>
   
    <div class="grid grid-cols-1 lg:grid-cols-3 pt-10
    gap-6 md:gap-8 relative z-10 px-5 md:px-10 lg:px-15">
        {paragraphs.slice(1).map((paragraph) => (
            <p class="animate-slideIn 
            text-lg md:text-xl lg:text-2xl font-thin
            bg-bg-surface-alt-v text-bg-inverse-alt-v rounded-2xl 
            p-5 justified-tight leading-10 shadow-md shadow-secondary-v ">
                {paragraph}
            </p>
        ))}
    </div>
        
</Section>
